/* General styling for the App */
.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.curved-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #85b5af;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -1;
}

@media (max-width: 768px) {
  .curved-background {
    display: none;
  }
}
